* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: rgba(238, 238, 238, 0.338);
  height: 100vh;
}

.sidebar ul li {
  padding: 6px 0;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
}
nav {
  background-color: rgba(238, 238, 238, 0.338);
}
